html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #000000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  color: #d8d8d8;
  background: #000;
  text-shadow: 0 0 4px rgba(255,255,255,0.04);
}

.scanlines {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background-image: linear-gradient(
    transparent 50%,
    rgba(255,255,255,0.015) 50%
  );

  background-size: 100% 4px;
}

@keyframes flicker {
  0% {
    opacity: 0.98;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.97;
  }
}

#root {
  animation: flicker 0.12s infinite;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #1d1d1d;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
